# Custom artefacts
.secrets
mamba_search_results.tsv
tool_list.csv
tool_registry.yaml
tool_update_metadata.xlsx
notes.md


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# End of Python-specific ignores

# Bash-specific ignores

# Swap files
.*.swp
.*.swo

# Vim backup files
*.bak
*.tmp
*.orig

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbdb files
Thumbs.db
ehthumbs.db

# Windows folder config file
Desktop.ini

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Backup files
*.~*
*.bak
*.old

# Logs and databases
*.log
*.sql
*.sqlite

# Compiled object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (shared libraries)
*.dll
*.dylib
*.so

# Executables
*.exe
*.out
*.app

# Shell history
.history

# Temporary files
*.tmp
*.temp